@model IAAI_ARM64.Models.Master

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/DashboardTemplate.cshtml";
}

<h2>刪除專家</h2>

<h3>確定要刪除?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            <img  style="max-width: 150px; max-height: 150px;" src="@Url.Content("~/Upload/" + Model.Photo)" />
            
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Experience)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Experience)
        </dd>*@

    </dl>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="刪除" class="btn btn-secondary p-2" />
            <br />
            <br />
            @Html.ActionLink("回到管理頁", "Index")
        </div>
    }
</div>
