@model IEnumerable<IAAI_ARM64.Models.About>

@{
    ViewBag.Title = "IndexFontPage";
    Layout = "~/Views/Shared/FontKnowledge.cshtml";
}

<div id="banner-area" class="banner-area" style="background-image: url(../HTML/Images/banner-bg.jpg)">
    <!-- Subpage title start -->
    <div class="banner-text text-right">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="breadcrumb">
                        <li>首頁</li>
                        <li>知識庫</li>
                        <li><a href="#"> 知識庫下載</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Subpage title end -->
</div>
<!-- Banner area end -->
<section id="main-container" class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="sidebar sidebar-right">
                    <div class="widget">
                        <h2 class="widget-title"><i class="fa fa-folder-open-o">&nbsp;</i>關於我們</h2>
                        <ul class="arrow nav nav-tabs nav-stacked">
                            <li class="active"><a href="#">協會介紹</a></li>
                            <li class="active"><a href="#">專家介紹</a></li>
                        </ul>
                    </div>
                    <!-- Categories end -->
                </div>
                <!-- Sidebar end -->
            </div>
            <!-- Sidebar Col end -->
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <h2 class="page-title">協會介紹</h2>
                <hr class="botmargin-min">
                <h3 class="about-title">第一屆理監事</h3>
                <!-- 內容開始 -->
                <table class="table table-striped career-table about-table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Position)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Gender)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Experience)
                        </th>
                        
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Position)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Gender)
                            </td>
                            <td>
                                @*//使用Html.Raw()方法將字串中的"\n"轉換成"<br />"，使其換行顯示*@
                                @Html.Raw(item.Experience.Replace("\\n", "<br />"))
                                @*@Html.DisplayFor(modelItem => item.Experience)*@
                            </td>
                        </tr>
                    }

                </table>
                <!-- 內容結束 -->

            </div>
            <!-- Main row end -->
        </div>
        <!-- Conatiner end -->
    </div>
</section>

